.product-list {
    list-style: none;
}
.header-list {
    display: flex;
    /* căn ngang */
    gap: 30px; 
    /* khoang cách 30  */
    padding-left: 30px;
    /* Nở trái 30px */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    /* căn giữa các phần tử */
}
.text {
    font-size: 20px;
    margin: 0;
    padding: 20px;
    /* nở tất cả các hướng */
}
.text.text-large {
    font-size: 20px;
    font-weight: 600;
}
table {
    width: 100%;
    text-align: center;
}
th {
    border: 1px solid #cccc;
}
tr {
    border: 1px solid #cccc;
    height: 50px;
}
td {
    border: 1px solid #cccc;
    text-align: center;
}
.container {
    padding: 40px 30px 40px 30px;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    /* căn giữa */
}
.btn-add {
    margin: 40px 0px 0px 40px;
}
.fa-solid {
    color: blue;
}
button {
    outline: none;
    border: none;
    background-color: white;
}